<footer class="Footer">
  <div class="Container">
    <div class="Footer__container">
      <div class="Footer__social">
        <a class="Footer__link" href="https://www.facebook.com/juuevellyn" target="_blank">
          <img class="Footer__icon" src="/assets/images/facebook_icon.svg" alt="Ícone Facebook" />
        </a>
        <a class="Footer__link" href="https://www.instagram.com/juuevellyn" target="_blank">
          <img class="Footer__icon" src="/assets/images/instagram.svg" alt="Ícone Instagram" />
        </a>
      </div>
      <div class="Footer__credits">
        Feito com ❤️ por
        <a class="Footer__link" href="mailto:csilva2810@gmail.com">Carlos Silva<a>
      </div>
    </div>
  </div>
</footer>
