$primary-color-dark: #5D4037;
$primary-color: #795548;
$primary-color-light: lighten($primary-color, 55%);
$primary-color-text: #FFFFFF;
$accent-color: #009688;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;

$space: 8px;
$space-2: 16px;
$space-3: 24px;
$space-4: 32px;
$space-5: 40px;
$space-6: 48px;

$border-radius: 4px;

$mobile-small: 320px;
$mobile-medium: 375px;
$mobile-large: 425px;
$tablet: 768px;
$laptop: 1024px;
